@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Luckiest+Guy&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.centerAll {
  margin: 0 auto;
  width: 1000px;
}

.input-group-text {
  width: 130px;
}

.input-group {
  margin-bottom: 6px;
}

#inputForm {
  border: none;
  padding: 0;
  background: none;
}
h1 {
  color: white;
  margin: 70px;
  margin-bottom: 30px;
  font-family: "Luckiest Guy", cursive;
  font-size: 70px;
}

#btnAdd {
  margin-bottom: 30px;
}

table.blueTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 11px;
  font-family: "Lato", sans-serif;
}
table.blueTable td,
table.blueTable th {
  border: 0px solid #aaaaaa;
  padding: 8px 12px;
}

table.blueTable tr:nth-child(even) {
  background: #f0f0f0;
}
table.blueTable thead {
  background: #282828;
  cursor: pointer;
}
table.blueTable thead th {
  font-weight: 700;
  color: #ffffff;
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}
.scrolli {
  overflow-x: auto;
  width: 97%;
  margin: 0 auto;
}

tr td:last-of-type {
  text-align: end;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* 
  https://css-tricks.com/responsive-data-tables/
  Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead th:nth-of-type(2),
  thead th:nth-of-type(3) {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* .scrolli {
    width: 100%;
    margin: 0 auto;
  } */
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .coltext {
    font-weight: bold;
  }
  .coltitle {
    margin-top: -18px;
  }
  .colscore {
    font-weight: bold;
    margin-top: -40px;
  }
  .colflavour {
    margin-top: -10px;
    font-style: italic;
    margin-right: 50px;
  }
  #scoreT {
    margin-top: -42px;
  }
  * {
    border-radius: 0 !important;
  }
  .btn {
    border-radius: 5px !important;
  }
  h1 {
    font-size: 36px;
    margin-top: 50px;
  }
}
