<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bulma.min.css" />
    <title>Clock</title>
  </head>
  <body>
    <header class="hero is-primary is-small">
      <div class="hero-body">
        <p class="title">Clock Component</p>
      </div>
    </header>
    <div class="container p-5 has-text-centered">
      <p class="time has-text-weight-bold">88</p>
      <p class="dateLong">99</p>
      <p class="dateShort">77</p>
    </div>
    <script src="clock.js"></script>
  </body>
</html>

<!-- 
<span class="uhrzeit">{hour}:{minute}:{second}</span>
<span class="datum">{weekday}, {day}. {monthName} {year}</span>
<span class="datumShort">{day}.{month}.{yearShort}</span> -->
