<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bulma.min.css" />
    <title>Wetter</title>
  </head>
  <body>
    <header class="hero is-primary is-small">
      <div class="hero-body">
        <p class="title">Weather Component</p>
      </div>
    </header>
    <div class="container p-5 has-text-centered">
      <p id="wetter" class="has-text-weight-bold">x</p>
      <p id="forecast"></p>
      <p id="forecast0"></p>
      <p id="forecast1"></p>
      <p id="forecast2"></p>
    </div>
    <script src="dwd.js"></script>
  </body>
</html>
