<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bulma.min.css" />
    <title>Search</title>
  </head>
  <body>
    <header class="hero is-primary is-small">
      <div class="hero-body">
        <p class="title">Search Component</p>
        <a class="button is-outlined is-white is-small" href="https://philk92.github.io/challenges">Zurück</a>
      </div>
    </header>
    <div class="container p-5 has-text-centered">
      <form class="field" id="searchForm">
        <input class="input" placeholder="Search..." id="searchInput" />
      </form>
      <p class="has-text-weight-bold">search with special feature:</p>
      <p>prefix yt: for youtube search</p>
      <p>prefix gh: for github search</p>
      <p>prefix ddg: for duckduckgo search</p>
      <p>default search is google.</p>
    </div>
    <script src="search.js"></script>
  </body>
</html>
