:root {
  --size: 70px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.dot {
  height: var(--size);
  width: var(--size);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15%;
  background: rgb(37, 37, 37);
  background: radial-gradient(circle, rgb(32, 32, 32) 10%, rgba(15, 15, 15, 1) 100%);
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, var(--size));
  gap: calc(var(--size) / 2);
}

.no {
  border: none;
  background-color: black;
  background: none;
}

.on {
  background: rgb(255, 230, 27);
  background: radial-gradient(circle, rgba(255, 230, 27, 1) 0%, rgba(149, 147, 58, 1) 95%);
  box-shadow: 0px 0px 20px 8px rgba(255, 227, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.1);
}
