* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Font available: Roboto 
    100 thin + italic
    300 light + italic
    400 regular + italic
    700 bold
    */
header {
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  margin-top: 50px;
  font-weight: 700;
  color: white;
}

.containeri {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 1200px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.pokemon {
  flex: 0 0 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid #bbb;
  padding: 5px;
  background-color: #ffffff;
}

.pokemon img {
  width: 100px;
}

.pokemon .text {
  text-align: center;
  font-weight: 200;
  font-size: 0.9em;
}

.pokemon .textName {
  text-align: center;
  font-weight: 400;
  margin-top: -7px;
}

/* .hero-body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 84px;
  justify-content: space-between;
} */
