* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: sans-serif;
  overflow: hidden;
}

header {
  width: 100vw;
  flex: 0 0 auto;
}

.flexcontainer {
  flex: 1 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.midcontainer,
.restartcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.midcontainer {
  margin-top: -10px;
}

/* .hero-body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 84px;
  justify-content: space-between;
} */
